
$green  : #009688;
$red    : #da4733;
$yellow : #fdba2c;
$blue   : #3b78e7;

@import '_theme';
@import '_latofonts';
@import '_font-awesome.min';
@import '_animations';

.main-title {
  color: $green;
  font-size: 100px;
  font-family: LatoWebHeavy;
  text-align: center;

  a:visited,
  a:hover,
  a:active,
  a{
    text-decoration: none;
    color: $green;
  }

  img {
    height: 1.2em;
    display:inline-block;
    position: relative;
    bottom: -20px;
  }
}

.dividing-bar {
  hr {
    height: 6px;
    display: none;
  }
}

.status-message {
  text-align: center;
  background-color: #f8f8f8;
  color: #777777;
  padding: 10px;
  border-radius: 0 0 3px 3px;
  /* margin-top: 15px; */
  border: 1px solid #CCCCCC;
}

.success, .failure {
  .load-bar, .status-message {
    display: none;
  }
  hr {
    display: block;
  }
}

.success {
  .status-icon {
    @extend .fa-check-square;
    color: $green;
  }
  hr {
    background-color: $green;
  }
}

.failure {
  .status-icon {
    @extend .fa-minus-square;
    color: $red;
  }
  hr {
    background-color: $red;
  }
}

.working {
  .status-icon {
    @extend .fa-cog;
    @extend .spinning;
    color: $yellow;
  }
}
